.timeline {
}

.timeline table {
    margin: auto auto;;
}

.timeline th {
    font-size: 18px;
    padding: 5px 35px;
}

.timeline th .sub {
    font-size: 13px;
    color: gray;
    text-align: center;
}

.timeline td {
    padding-top: 10px;
    border-bottom: 3px solid black;
    vertical-align: bottom;
}

.timeline td .language {
    margin-left: 5px;
    font-weight: 700;
    font-style: italic;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 1px 5px;
    display: inline-block;
}

.timeline td .badge {
    font-weight: 300;
}

.timeline tr td:nth-child(5) {
    background: rgba(0,0,0,0.1);
}

.timeline tr td:nth-child(7), .timeline tr td:nth-child(8) {
    background: rgba(0, 150, 0, 0.3);
}

.timeline .actionscript td {
    color: rgb(218, 1, 1);
    border-bottom-color: rgb(218, 1, 1);
}

.timeline .android td {
    color: rgb(83, 173, 83);
    border-bottom-color: rgb(83, 173, 83);
}

.timeline .ios td {
    color: orange;
    border-bottom-color: orange;
}

.timeline .ruby td {
    color: red;
    border-bottom-color: red;
}

.timeline .cpp td {
    color: gray;
    border-bottom-color: gray;
}

.timeline .python td {
    color: navy;
    border-bottom-color: navy;
}

.timeline .php td {
    color: rgb(168, 81, 211);
    border-bottom-color: rgb(168, 81, 211);
}

.timeline .not {
    border-bottom: none;
}

.timeline th, .timeline td {
    border-left: 1px dashed rgba(0,0,0,0.2);
    border-right: 1px dashed rgba(0,0,0,0.2);
}

.timeline th:first-child, .timeline td:first-child {
    border-left: none;
}

.timeline th:last-child, .timeline td:last-child {
    border-right: none;
}