/* Custom color theme properties */
:root {
  --f7-theme-color: #0f4c81;
  --f7-theme-color-rgb: 15, 76, 129;
  --f7-theme-color-shade: #0b365c;
  --f7-theme-color-tint: #1362a6;
  --f7-page-bg-color: white;
}

/* Your app custom styles here */
html {
  --f7-navbar-height: 56px;
  --f7-navbar-title-font-weight: 900;
  --f7-navbar-title-text-align: left;
  --f7-navbar-font-size: 20px;
  --f7-navbar-bg-color: rgba(250, 250, 250, 0.9);
  --f7-navbar-link-color: black;
}

.theme-dark {
  --f7-navbar-bg-color: rgba(20, 20, 20, 0.9);
  --f7-navbar-link-color: white;
}