* { box-sizing: border-box; }

.workspace:after {
  content: '';
  display: block;
  clear: both;
}

.workspace .work {
    margin: 15px 15px;
    float: left;
}

.workspace .work img, .workspace .work video {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.workspace .work img:hover, .workspace .work video:hover {
    transform: scale(1.04);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.workspace .work .contents {
    padding: 5px;
}

.workspace .work .title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}

.workspace .work .description {
    font-size: 15px;
    font-weight: 300;
    display: inline;
}

.workspace .work .date {
    color: #94b1ce;
    margin: 2px 5px;
    display: inline;
    word-break: keep-all;
    font-size: 15px;
    font-weight: 400;
}

.workspace .work .keyword .tag {
    border: 1px solid rgb(154, 154, 154);
    color: rgb(97, 97, 97);
    font-size: 12px;
    font-weight: 100;
    display: inline-block;
    padding: 1px 3px;
    border-radius: 3px;
}